@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 120px;
  background: #5386f3; }

nav ul li {
  list-style: none;
  font-size: 20px;
  padding: 0.2px;
  margin: 50px; }
  nav ul li a:hover {
    text-decoration: underline;
    color: #D9B504; }

.header-text {
  display: flex;
  height: 150px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .header-text h1, .header-text h2 {
    font-weight: 300;
    color: #304F8C;
    text-shadow: 0px -2px 0 #08A689, 0px -2px 0 #08A689, 2px -2px 0 #08A689, 2px -2px 0 #08A689;
    font-size: 40px; }
  .header-text h2 {
    font-size: 30px;
    font-weight: lighter; }

.bestseller h2 {
  font-weight: 300;
  color: #304F8C;
  text-shadow: 0px -2px 0 #08A689, 0px -2px 0 #08A689, 2px -2px 0 #08A689, 2px -2px 0 #08A689;
  font-size: 50px; }

.carousel {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  .carousel img {
    align-items: center; }

.precio {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 25px; }

.container {
  padding: 10px; }
  .container .precio {
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif; }

.row {
  display: flex;
  flex-wrap: nowrap; }

.btn {
  border: solid 2px #08A689;
  border-radius: 2px;
  padding: 0.7em 1.5em; }

.producto {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px #D9B504;
  border-radius: 10px; }

footer {
  background: #5386f3;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

.content-foo {
  color: #304F8C;
  font-style: "Raleway", sans-serif;
  font-size: 30px; }
  .content-foo p {
    margin: 0; }
  .content-foo a {
    color: #304F8C;
    font-style: "Raleway", sans-serif;
    font-size: 25px;
    text-decoration: none; }
    .content-foo a:hover {
      text-decoration: underline; }
