@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway:wght@200&display=swap');

$ff-main: 'Josefin Sans', sans-serif;
$ff-header: 'Raleway', sans-serif;
$clr-blue:#0A46BF;
$clr-blue1:#304F8C;
$clr-green:#08A689;
$clr-yellow:#D9B504;
$clr-nude:#F2E2C4;
$clr-black:#000;
$clr-fondo:#5386f3;
$font-principal:#304F8C;
