@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway:wght@200&display=swap');

$ff-main: 'Josefin Sans', sans-serif;
$ff-header: 'Raleway', sans-serif;

$clr-fondo:linear-gradient(to right, hsla(179, 100%, 77%, 0.384), hsla(307, 86%, 57%, 0.493));
$font-principal:white;
