footer{
    background: $clr-fondo;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.content-foo{
    @include footer;
    font-size: 30px;
    p{
        margin: 0;
    }
    a{
        @include footer;
        font-size: 25px;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}