footer{
    background-color: $clr-fondo;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.contenedor-footer{
    font-size: 20px;
    font-family: $ff-main;
    h4{
        p{
            text-decoration: none;
            color: $font-principal;
        }
    }
}