header{
    width: 100%;
    height: 120px;
    background: $clr-fondo;
}
.navbar ul.navbar{
    @include tablet{
        display: block;
    }
}
nav{
    & .navbar ul.navbar{
        @include tablet{
            display: block;
        }
    }
    ul{
        li{
            list-style: none;
            font-size: 20px;
            padding: 0.2px;
            margin:50px;
            a{  
                
                &:hover{
                    text-decoration: underline;
                    color: $clr-yellow;
                }
            }
        }
    }
}
