header{
    width: 100%;
    height: 120px;
    background: $clr-fondo;
}
nav{
    ul{
        li{
            list-style: none;
            font-size: 20px;
            padding: 0.2px;
            margin:50px;
            a{  
                
                &:hover{
                    text-decoration: underline;
                    color: $clr-yellow;
                }
            }
        }
    }
}
