.header-text{
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1{
        @include title;
        font-size: 40px;
    }
    h2{
        @extend h1;
        font-size: 30px;
        font-weight: lighter;
    }
}
.bestseller{
        h2{
            @include title;
            font-size: 50px;
        }
}
.carousel{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        align-items: center;
        }
}
.precio{
    text-align: center;
    font-family: $ff-header;
    font-size: 25px;
}
.container{
    padding: 10px;
    .precio{
        font-size: 15px;
        font-family: $ff-main;
    }
}

.btn{
    border: solid 2px $clr-green;
    border-radius: 2px;
    padding: 0.7em 1.5em;
}
.row{
    @include tablet{
        display: flex;
        flex-direction: row;
    }
}
.producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    border:solid 2px $clr-yellow;
    border-radius: 10px;
}